<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="connection" value="Data Source=.;Initial Catalog=signature;Integrated Security=True"/>
	</appSettings>
	<connectionStrings>
		<add name="govindConnectionString" connectionString="Data Source=.;Initial Catalog=signature;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="govindEntities" connectionString="metadata=res://*/CustomerORM.csdl|res://*/CustomerORM.ssdl|res://*/CustomerORM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SYSTEM;Initial Catalog=govind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<behaviors>
			<serviceBehaviors>
				<behavior name="New.Web.Service1Behavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="New.Web.Service2Behavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="New.Web.Service12Behavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="New.Web.Service11Behavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="New.Web.WCFCustomerServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="New.Web.Service123Behavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="New.Web.Service1Behavior" name="New.Web.Service1">
				<endpoint address="" binding="wsHttpBinding" contract="New.Web.IService1">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="New.Web.Service2Behavior" name="New.Web.Service2">
				<endpoint address="" binding="basicHttpBinding" contract="New.Web.Service2"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="New.Web.Service12Behavior" name="New.Web.Service12">
				<endpoint address="" binding="basicHttpBinding" contract="New.Web.Service12"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="New.Web.Service11Behavior" name="New.Web.Service11">
				<endpoint address="" binding="basicHttpBinding" contract="New.Web.Service11"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="New.Web.WCFCustomerServiceBehavior" name="New.Web.WCFCustomerService">
				<endpoint address="" binding="wsHttpBinding" contract="New.Web.IWCFCustomerService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="New.Web.Service123Behavior" name="New.Web.Service123">
				<endpoint address="" binding="basicHttpBinding" contract="New.Web.Service123"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>
